@selectBtnColor:  linear-gradient(45deg, #1cbbb4 , #0081ff);

// Header
@headerBackground: linear-gradient(45deg, #1cbbb4 , #0081ff);
@headerTextColor: #fff;
@headerLight: { background: @headerBackground; };

// navigation
@navTextColor: #406db4;
@navLineColor: #3c85ff;


// Question
@submitButtonColor:  linear-gradient(45deg, #1cbbb4 , #0081ff);
