@selectBtnColor: linear-gradient(45deg, #ec008c, #6739b6, #0081ff);

@primaryColor: #0080ff;
@primaryGradientColor: linear-gradient(45deg,#1cbbb4  0% , #0080ff 45%, #0080ff 65% , #1cbbb4  100% );
// Header
@defaultGradient: linear-gradient(45deg, #0081ff, #1cbbb4);
@headerTextColor: #fff;

// navigation
@navTextColor: #406db4;
@navLineColor: #3c85ff;

// Question
@submitButtonColor: linear-gradient(45deg, #0081ff, #1cbbb4);
